.FAQ-main-container {
  background-color: #fff;
  color: black;
  padding: 1rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.FAQ-container {
  padding: 1rem 7rem 2rem 7rem !important;
  background: white;
}

.FAQ-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.FAQ-heading h2 {
  color: black;
  font-size: 3em;
  font-weight: 700;
}

.FAQ-container h4 {
  font-size: 1.6em;
  font-weight: 900;
}

.qs {
  font-size: 1.1em;
}

.ans {
  font-size: 16px !important;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .FAQ-container {
    padding: 0.5rem !important;
  }

  .qs {
    font-size: 0.9em;
  }

  .ans {
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}
