@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

:root {
  --Urbanist-font: "Urbanist", sans-serif;
  --Norm-font: "TT Norms Pro", sans-serif;
}
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "TT Norms Pro", sans-serif;
}

.app {
  display: flex;
  flex-grow: 1;
  position: relative;
}

/* ----------------------------Scroll bar styling---------------------------------  */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
::-webkit-slider-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.link-hover {
  position: relative;
}
.link-hover:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: width 0.2s linear;
}

.link-hover:hover::after {
  width: 100%;
}

#MenuButton a:hover {
  background-color: #e6e6e6;
}
